<li><a href="javascript:void(0);" data-toggle="collapse" data-target="#<%= first_category.name %>"><%= first_category.name %><i class="fa fa-plus"></i></a>
  <ul id="<%= first_category.name %>" class="collapse collapseItem">
    <% first_category.root.children.each do |second_category| %>
      <% if second_category.leaf? %>
        <li><a href="<%= second_category.id %>"><i class="fa fa-caret-right" aria-hidden="true"></i><%= second_category.name %><span>(<%= second_category.products.count %>)</span></a></li>
      <% else %>
        <li><a href="javascript:void(0);" data-toggle="collapse" data-target="#<%= second_category.name %>"><%= second_category.name %><i class="fa fa-plus"></i></a>
          <ul id="<%= second_category.name %>" class="collapse collapseItem">
            <% second_category.children.each do |third_category| %>
              <li><a href="<%= third_category.id %>"><i class="fa fa-caret-right" aria-hidden="true"></i><%= third_category.name %><span>(<%= third_category.products.count %>)</span></a></li>
            <% end %>
          </ul>
        </li>
      <% end %>
    <% end %>
  </ul>
</li>
